body {
    background: #F5F5DC;
}

input[type=checkbox] {
    width: max-content;
    transform: scale(2.5);
}

select[multiple] {
    -moz-appearance: menulist;
    -webkit-appearance: menulist;
    appearance: menulist;
}
