{% extends 'layout.html' %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="/static/style/pages/edit_file.css">

    <title>Редактировать</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <div class="w3-auto">
        <div class="w3-display-middle">
            <div class="w3-card w3-animate-opacity w3-light-gray">
                <form class="w3-container w3-center" action="{{ url_for('edit_file', id=id, return_url=return_url) }}" method="POST">
                    <div class="w3-section w3-xlarge">
                        <label for="tags_text">
                            <i class="fa fa-tags"></i>
                            <b>Тэги</b>
                        </label>
                        
                        <input class="w3-input w3-border-0" id="tags_text" type="text" name="tags" placeholder="Тэги через запятую" value="{{ ', '.join(file['tags']) }}">
                    </div>

                    <div class="w3-section w3-xlarge">
                        <label for="code_textarea">
                            <i class="fa fa-terminal"></i>
                            <b>Исходный код</b>
                        </label>
                        
                        <textarea class="w3-tiny w3-input w3-border-0" id="code_textarea" placeholder="Исходный код" type="textarea" name="code" rows=8 cols=80 required>{{ file['code'] }}</textarea>
                    </div>

                    <div class="w3-section w3-bar w3-xlarge">
                        <input class="w3-btn w3-round w3-yellow" type="reset" value="Сбросить">
                        <input class="w3-btn w3-round w3-light-green" type="submit" value="Сохранить">
                    </div>
                    
                    <div class="w3-section w3-xlarge w3-hover-pale-red">
                        <i class="fa fa-long-arrow-left"></i>
                        <a href="{{ return_url }}" title="Вернуться к просмотру БД">Назад</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}
