{% extends 'layout.html' %}

{% import 'common.html' as common %}

{% block head %}

    {{ super() }}

    {{ common.basic_page_init('error', 'Ошибка') }}

{% endblock %}

{% block content %}

    {{ super() }}

    <div class="w3-auto">
        <div class="w3-display-middle">
            <div class="w3-container w3-animate-opacity w3-center">
                <div class="w3-section w3-xxlarge">
                    <h1>Произошла ошибка :(</h1>
                </div>

                <div class="w3-section w3-xxlarge">
                    <h2>Код <b>{{ code }}</b>. {{ msg }}</h2>
                </div>

                <div class="w3-section w3-xlarge">
                    <i class="fa fa-home"></i>
                    <a class="w3-hover-pale-red" href="{{ url_for('index_page') }}">Вернуться на главную страницу.</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
