{% extends 'layout.html' %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="/static/style/pages/index.css">

    <title>Обфускация Python кода</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <ul>
        <li>
            <a href="{{ url_for('view_tags') }}" title="Поиск в базе данных по выбранным хэш-тэгам">Поиск по хэш-тэгам</a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="{{ url_for('upload_text') }}" title="Ввести исходный код вручную">Текст</a>
        </li>
        <li>
            <a href="{{ url_for('upload_file') }}" title="Загрузить файл с исходным кодом">Файл</a>
        </li>
    </u>

{% endblock %}
