<!DOCTYPE html>

<html lang="ru">
    <head>
        {% block head %}

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

            <link rel="stylesheet" href="/static/style/w3.css">

            <link rel="stylesheet" href="/static/style/main.css">

            <script src="/static/scripts/jquery-3.4.1.min.js"></script>

            <!-- optional icons -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% endblock %}
    </head>
    <body>
        {% block content %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        {% endblock %}
    </body>
</html>
