{% extends 'layout.html' %}

{% block head %}
    
    {{ super() }}

    <link rel="stylesheet" href="/static/style/pages/obfuscate_settings.css">

    <title>Настройки обфускации</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <div class="w3-auto">
        <div class="w3-display-middle">
            <div class="w3-card w3-animate-opacity w3-light-gray">
                <form class="w3-container w3-center" action="{{ url_for('obfuscate', storage_type=storage_type, id=id) }}" method="POST">
                    <div class="w3-panel w3-xlarge w3-hover-pale-red">
                        <a href="{{ url_for('view_code', storage_type=storage_type, id=id) }}" target="_blank" title="Просмотреть код">{{ file['file_name'] }}</a>
                    </div>
                    
                    <div class="w3-panel w3-xlarge">
                        <label for="numbers_obfuscation_checkbox">
                            <b>Изменить представление чисел</b>
                        </label>
                        
                        <input class="w3-check w3-margin-left" id="numbers_obfuscation_checkbox" type="checkbox" name="numbers_obfuscation" checked>
                    </div>
            
                    <div class="w3-panel w3-xlarge">
                        <label for="add_useless_strings_checkbox">
                            <b>Добавить лишние строки</b>
                        </label>
                        
                        <input class="w3-check w3-margin-left" id="add_useless_strings_checkbox" type="checkbox" name="add_useless_strings" checked>
                    </div>
            
                    <div class="w3-panel w3-xlarge">
                        <label for="obfuscation_output_type_select">
                            <b>Вернуть результат как:</b>
                        </label>
                        
                        <select name="obfuscation_output_type" id="obfuscation_output_type_select" required>
                            <option value="{{ ObfuscationOutputType.TEXT_FILE.value }}">Файл</option>
                            <option value="{{ ObfuscationOutputType.IMAGE.value }}" selected>Изображение</option>
                        </select>
                    </div>
                
                    <div class="w3-panel w3-bar w3-xlarge">
                        <input class="w3-btn w3-round w3-yellow" type="reset" value="Сбросить">
                        <input class="w3-btn w3-round w3-light-green" type="submit" value="Далее">
                    </div>
                    
                    <div class="w3-panel w3-xlarge w3-hover-pale-red">
                        <a href="{{ url_for('index_page') }}">Вернуться на главную страницу</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
