{% extends 'layout.html' %}

{% import 'common.html' as common %}

{% block head %}
    
    {{ super() }}

    {{ common.basic_page_init('obfuscate_settings', 'Настройки обфускации') }}

    <script src="/static/scripts/accordion.js"></script>

{% endblock %}

{% block content %}

    {{ super() }}

    <div class="w3-auto">
        <div class="w3-display-middle">
            <div class="w3-card w3-animate-opacity w3-light-gray">
                <form class="w3-container w3-center" action="{{ url_for('obfuscate', storage_type=storage_type, id=id) }}" method="POST">
                    <div class="w3-section w3-xlarge w3-hover-pale-red">
                        <i class="fa fa-external-link"></i>
                        <a href="{{ url_for('view_code', storage_type=storage_type, id=id) }}" target="_blank" title="Просмотреть код">{{ file['file_name'] }}</a>
                    </div>

                    <button onclick="w3Show('syntax_obfuscation_section')" type="button" class="w3-btn w3-block w3-margin-down w3-khaki w3-xlarge">
                        <i class="fa fa-chevron-down"></i>
                        Синтаксис
                    </button>
                    
                    <div id="syntax_obfuscation_section" class="w3-hide w3-light-blue">
                        <button onclick="w3Show('syntax_numbers_obfuscation_section')" type="button" class="w3-btn w3-block w3-lime w3-large">
                            <i class="fa fa-chevron-down"></i>
                            Числа
                        </button>
                        
                        <div id="syntax_numbers_obfuscation_section" class="w3-hide">
                            <div class="w3-section">
                                <label for="syntax_numbers_obfuscation_checkbox">
                                    Изменить представление чисел
                                </label>
                                
                                <input name="syntax.num_obfuscation.is_on" id="syntax_numbers_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="syntax_int_numbers_obfuscation_checkbox">
                                    Изменить представление целых чисел
                                </label>
                                
                                <input name="syntax.num_obfuscation.int" id="syntax_int_numbers_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="syntax_float_numbers_obfuscation_checkbox">
                                    Изменить представление чисел с плавающей точкой
                                </label>
                                
                                <input name="syntax.num_obfuscation.float" id="syntax_float_numbers_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="syntax_complex_numbers_obfuscation_checkbox">
                                    Изменить представление комплексных чисел
                                </label>
    
                                <input name="syntax.num_obfuscation.complex" id="syntax_complex_numbers_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>
                        </div>

                        <button onclick="w3Show('syntax_code_style_obfuscation_section')" type="button" class="w3-btn w3-block w3-lime w3-large">
                            <i class="fa fa-chevron-down"></i>
                            Стиль кода
                        </button>

                        <div id="syntax_code_style_obfuscation_section" class="w3-hide">
                            <div class="w3-section">
                                <label for="syntax_code_style_obfuscation_checkbox">
                                    Изменить стиль кода
                                </label>
                                
                                <input name="syntax.code_style_obfuscation.is_on" id="syntax_code_style_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>
                        </div>
                    </div>

                    <button onclick="w3Show('semantic_obfuscation_section')" type="button" class="w3-btn w3-block w3-margin-top w3-khaki w3-xlarge">
                        <i class="fa fa-chevron-down"></i>
                        Семантика
                    </button>
                    
                    <div id="semantic_obfuscation_section" class="w3-hide w3-light-blue">
                        <button onclick="w3Show('semantic_numbers_obfuscation_section')" type="button" class="w3-btn w3-block w3-lime w3-large">
                            <i class="fa fa-chevron-down"></i>
                            Числа
                        </button>
                        
                        <div id="semantic_numbers_obfuscation_section" class="w3-hide">
                            <div class="w3-section">
                                <label for="semantic_numbers_obfuscation_checkbox">
                                    Изменить представление чисел
                                </label>
                                
                                <input name="semantic.num_obfuscation.is_on" id="semantic_numbers_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_int_numbers_obfuscation_checkbox">
                                    Обфускация целых чисел
                                </label>
                                
                                <input name="semantic.num_obfuscation.int_obfuscations" id="semantic_int_numbers_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_int_numbers_obfuscation_call_repr_checkbox">
                                    Замена целых чисел на вызов функции
                                </label>
                                
                                <input name="semantic.num_obfuscation.int_call_repr" id="semantic_int_numbers_obfuscation_call_repr_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_float_numbers_obfuscation_call_repr_checkbox">
                                    Замена чисел c плавающей точкой на вызов функции
                                </label>
    
                                <input name="semantic.num_obfuscation.float_call_repr" id="semantic_float_numbers_obfuscation_call_repr_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_complex_numbers_obfuscation_call_repr_checkbox">
                                    Замена комплексных чисел на вызов функции
                                </label>
    
                                <input name="semantic.num_obfuscation.complex_call_repr" id="semantic_complex_numbers_obfuscation_call_repr_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>
                        </div>

                        <button onclick="w3Show('semantic_strings_obfuscation_section')" type="button" class="w3-btn w3-block w3-lime w3-large">
                            <i class="fa fa-chevron-down"></i>
                            Строки
                        </button>
                        
                        <div id="semantic_strings_obfuscation_section" class="w3-hide">
                            <div class="w3-section">
                                <label for="semantic_strings_obfuscation_checkbox">
                                    Изменить представление строк
                                </label>
                                
                                <input name="semantic.str_obfuscation.is_on" id="semantic_strings_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_strings_obfuscations_checkbox">
                                    Обфускация строк
                                </label>
                                
                                <input name="semantic.str_obfuscation.str_obfuscations" id="semantic_strings_obfuscations_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_strings_obfuscation_call_repr_checkbox">
                                    Замена строк на вызов функции
                                </label>

                                <input name="semantic.str_obfuscation.str_call_repr" id="semantic_strings_obfuscation_call_repr_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>
                        </div>

                        <button onclick="w3Show('semantic_useless_expressions_obfuscation_section')" type="button" class="w3-btn w3-block w3-lime w3-large">
                            <i class="fa fa-chevron-down"></i>
                            Бесполезный код
                        </button>
                        
                        <div id="semantic_useless_expressions_obfuscation_section" class="w3-hide">
                            <div class="w3-section">
                                <label for="semantic_useless_expressions_obfuscation_checkbox">
                                    Добавить лишний код
                                </label>
                                
                                <input name="semantic.useless_expressions.is_on" id="semantic_useless_expressions_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_useless_expressions_global_obfuscation_range">
                                    Кол-во лишних блоков в глобальной области видимости
                                </label>
                                
                                <input name="semantic.useless_expressions.global" id="semantic_useless_expressions_global_obfuscation_range" 
                                type="range" min="0" max="25" value="1" 
                                onchange="setVal(this.value, 'semantic_useless_expressions_global_obfuscation_range_view')"
                                class="w3-margin-left">

                                <b><p id="semantic_useless_expressions_global_obfuscation_range_view">1</p></b>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_useless_expressions_functions_obfuscation_range">
                                    Кол-во лишних блоков в функциях
                                </label>

                                <br>
                                
                                <input name="semantic.useless_expressions.functions" id="semantic_useless_expressions_functions_obfuscation_range" 
                                type="range" min="0" max="25" value="1" 
                                onchange="setVal(this.value, 'semantic_useless_expressions_functions_obfuscation_range_view')"
                                class="w3-margin-left">

                                <b><p id="semantic_useless_expressions_functions_obfuscation_range_view">1</p></b>
                            </div>
                        </div>

                        <button onclick="w3Show('semantic_vars_renames_obfuscation_section')" type="button" class="w3-btn w3-block w3-lime w3-large">
                            <i class="fa fa-chevron-down"></i>
                            Переименование переменных
                        </button>
                        
                        <div id="semantic_vars_renames_obfuscation_section" class="w3-hide">
                            <div class="w3-section">
                                <label for="semantic_vars_renames_obfuscation_checkbox">
                                    Переименовать переменные
                                </label>
                                
                                <input name="semantic.vars_renames.is_on" id="semantic_vars_renames_obfuscation_checkbox" type="checkbox" class="w3-check w3-margin-left" checked>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_vars_renames_min_len_obfuscation_range">
                                    Минимальная длина новых имён переменных
                                </label>
                                
                                <br>

                                <input name="semantic.vars_renames.min_len" id="semantic_vars_renames_min_len_obfuscation_range" 
                                type="range" min="0" max="25" value="5" 
                                onchange="setVal(this.value, 'semantic_vars_renames_min_len_obfuscation_range_view')"
                                class="w3-margin-left">

                                <b><p id="semantic_vars_renames_min_len_obfuscation_range_view">5</p></b>
                            </div>

                            <div class="w3-section">
                                <label for="semantic_vars_renames_max_len_obfuscation_range">
                                    Максимальная длина новых имён переменных
                                </label>

                                <br>
                                
                                <input name="semantic.vars_renames.max_len" id="semantic_vars_renames_max_len_obfuscation_range" 
                                type="range" min="0" max="25" value="7" 
                                onchange="setVal(this.value, 'semantic_vars_renames_max_len_obfuscation_range_view')"
                                class="w3-margin-left">

                                <b><p id="semantic_vars_renames_max_len_obfuscation_range_view">7</p></b>
                            </div>
                        </div>
                    </div>
            
                    <div class="w3-section w3-xlarge">
                        <label for="obfuscation_output_type_select">
                            <b>Вернуть результат как:</b>
                        </label>
                        
                        <select name="obfuscation_output_type" id="obfuscation_output_type_select" required>
                            <option value="{{ ObfuscationOutputType.TEXT_FILE.value }}">Файл</option>
                            <option value="{{ ObfuscationOutputType.IMAGE.value }}" selected>Изображение</option>
                        </select>
                    </div>
                
                    <div class="w3-section w3-bar w3-xlarge">
                        <button class="w3-btn w3-round w3-yellow" type="reset">
                            <i class="fa fa-undo"></i>
                            Сбросить
                        </button>

                        <button class="w3-btn w3-round w3-light-green" type="submit">
                            Далее
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>

                    <div class="w3-section w3-xlarge">
                        <i class="fa fa-home"></i>
                        <a class="w3-hover-pale-red" href="{{ url_for('index_page') }}">Вернуться на главную страницу</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
