{% extends 'layout.html' %}

{% block head %}
    
    {{ super() }}

    <link rel="stylesheet" href="/static/style/pages/obfuscate_settings.css">

    <title>Настройки обфускации</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <a href="{{ url_for('view_code', storage_type=storage_type, id=id) }}" target="_blank">{{ file['file_name'] }}</a>

    <form action="{{ url_for('obfuscate', storage_type=storage_type, id=id) }}" method="POST">
        <label for="numbers_obfuscation_checkbox">Изменить представление чисел</label>
        <input id="numbers_obfuscation_checkbox" type="checkbox" name="numbers_obfuscation" checked>

        <label for="add_useless_strings_checkbox">Добавить лишние строки</label>
        <input id="add_useless_strings_checkbox" type="checkbox" name="add_useless_strings" checked>

        <label for="obfuscation_output_type_select">Вернуть результат как:</label>
        <select name="obfuscation_output_type" id="obfuscation_output_type_select">
            <option value="{{ ObfuscationOutputType.TEXT_FILE.value }}">Файл</option>
            <option value="{{ ObfuscationOutputType.IMAGE.value }}" selected>Изображение</option>
        </select>
    
        <input type="reset" value="Сбросить">
        <input type="submit" value="Далее">
    </form>

    <a href="{{ url_for('index_page') }}">Вернуться на главную страницу</a>

{% endblock %}
