{% extends 'layout.html' %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="/static/style/pages/upload_text.css">

    <title>Загрузить исходный код для обфускации</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <form action="{{ url_for('upload_text') }}" method="POST">
        <label for="tags_text">Тэги</label>
        <input id="tags_text" type="text" name="tags" placeholder="Тэги через запятую">

        <label for="code_textarea">Исходный код</label>
        <input id="code_textarea" placeholder="Исходный код" type="textarea" name="code" rows=100 cols=80 required>
        
        <label for="save_to_db_checkbox">Сохранить в БД</label>
        <input id="save_to_db_checkbox" type="checkbox" name="save_to_db" checked>

        <input type="reset" value="Сбросить">
        <input type="submit" value="Далее">
    </form>

    <a href="{{ url_for('index_page') }}">Вернуться на главную страницу</a>

{% endblock %}
