{% extends 'layout.html' %}

{% block head %}
    
    {{ super() }}

    <link rel="stylesheet" href="/static/style/pages/upload_file.css">

    <title>Загрузить файл для обфускации</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
        <input type="text" name="tags" placeholder="Тэги через запятую">

        <label for="source_code_file_select">Выберете файл для загрузки</label>
        <input id="source_code_file_select" type="file" name="source_code" required>
        
        <label for="save_to_db_checkbox">Сохранить в БД</label>
        <input id="save_to_db_checkbox" type="checkbox" name="save_to_db">

        <input type="reset" value="Сбросить">
        <input type="submit" value="Далее">
    </form>

    <a href="{{ url_for('index_page') }}">Вернуться на главную страницу</a>

{% endblock %}
