{% extends 'layout.html' %}

{% block head %}

    {{ super() }}

    <script src="/static/scripts/w3codecolor.js"></script>
    
    <link rel="stylesheet" href="/static/style/pages/view_code.css">

    <title>{{ file['file_name'] }}</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <p>Имя файла: <b>{{ file['file_name'] }}</b></p>
    
    {% if file['tags']|length > 0 %}
        <p>Тэги: <b>{{ ' '.join(file['tags']) }}</b></p>
    {% else %}
        <p>Тэги: <b>отсутствуют</b></p>
    {% endif %}

    <p>Дата загрузки: <b>{{ file['upload_date'].strftime('%d.%m.%Y %H:%M') }}</b></p>

    {% if 'modified_date' in file %}
        <p>Дата последней модификации: <b>{{ file['modified_date'].strftime('%d.%m.%Y %H:%M') }}</b></p>    
    {% endif %}

    <hr>

    <pre class="pythonHigh notranslate">{{ file['code'] }}</pre>

    <script src="/static/scripts/pages/view_code.js"></script>

{% endblock %}
