{% extends 'layout.html' %}

{% block head %}

    {{ super() }}

    <script src="/static/scripts/w3codecolor.js"></script>
    
    <link rel="stylesheet" href="/static/style/pages/view_code.css">

    <title>{{ file['file_name'] }}</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <div class="w3-container w3-light-gray w3-animate-opacity">
        <div class="w3-section w3-xlarge">
            <p>Имя файла: <b>{{ file['file_name'] }}</b></p>
        </div>

        <div class="w3-section w3-xlarge">
            {% if file['tags']|length > 0 %}
                <p>Тэги:
                    {% for tag in file['tags'] %}
                        <span class="w3-tag w3-teal">{{ tag }}</span>
                    {% endfor %}
                </p>
            {% else %}
                <p>Тэги: <b>отсутствуют</b></p>
            {% endif %}
        </div>

        <div class="w3-section w3-xlarge">
            <p>Дата загрузки: <b>{{ file['upload_date'].strftime('%d.%m.%Y %H:%M') }}</b></p>
        </div>

        {% if 'modified_date' in file %}
            <div class="w3-section w3-xlarge">
                <p>Дата последней модификации: <b>{{ file['modified_date'].strftime('%d.%m.%Y %H:%M') }}</b></p>    
            </div>
        {% endif %}
    </div>
    
    <div class="w3-container">
        <pre class="w3-xlarge pythonHigh notranslate">{{ file['code'] }}</pre>
    </div>

    <script src="/static/scripts/pages/view_code.js"></script>

{% endblock %}
