{% extends 'layout.html' %}

{% block head %}

    {{ super() }}

    <title>{{ file['file_name'] }}</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <p>Имя файла: <b>{{ file['file_name'] }}</b></p>
    
    {% if file['tags']|length > 0 %}
        <p>Тэги: <b>{{ ' '.join(file['tags']) }}</b></p>
    {% else %}
        <p>Тэги: <b>отсутствуют</b></p>
    {% endif %}

    <p>Дата загрузки: <b>{{ file['upload_date'] }}</b></p>

    {% if 'modified_date' in file %}
        <p>Дата последней модификации: <b>{{ file['upload_date'] }}</b></p>    
    {% endif %}

    <hr>

    <pre>{{ file['code'] }}</pre>

{% endblock %}
