{% extends 'layout.html' %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="/static/style/pages/view_db.css">

    <title>Поиск по БД</title>

{% endblock %}

{% block content %}

    {{ super() }}

    <div class="w3-container w3-animate-opacity">
        <div class="w3-section w3-xlarge w3-hover-pale-red">
            <a href="{{ url_for('index_page') }}">Вернуться на главную страницу</a>
        </div>

        {% if search_tags|length > 0 %}
            <div class="w3-section w3-xlarge">
                <p> Поиск по тэгам:
                    {% for tag in search_tags %}
                        <span class="w3-tag w3-khaki">{{ tag }}</span>
                    {% endfor %}
                </p>
            </div>
        {% endif %}

        {% for file in files %}

            <div class="w3-section w3-xlarge">
                <div class="w3-dropdown-hover w3-light-gray">
                    <p> {{ file['file_name'] }}
                        {% if file['tags']|length > 0 %}
                            {% for tag in file['tags'] %}
                                <span class="w3-tag w3-teal">{{ tag }}</span>
                            {% endfor %}
                        {% endif %}
                    </p>
                    
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <ul class="w3-ul">
                            <li class="w3-hover-pale-red">
                                <a href="{{ url_for('view_code', storage_type=StorageType.DATABASE, id=file['_id']) }}" target="_blank">Просмотр</a>
                            </li>
                
                            <li class="w3-hover-pale-red">
                                <a href="{{ url_for('obfuscate_settings', storage_type=StorageType.DATABASE, id=file['_id']) }}">Обфускация</a>
                            </li>
                
                            <li class="w3-hover-pale-red">
                                <a href="{{ url_for('edit_file', id=file['_id']) }}">Редактировать</a>
                            </li>
                
                            <li class="w3-hover-pale-red">
                                <a href="{{ url_for('delete_file', id=file['_id']) }}">Удалить</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        {% endfor %}
    
    </div>

{% endblock %}
